
body
{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

/* .group-skills
{

  display: grid;
  grid-template-columns: auto auto; 
} */

.top-Container
{
  
  background-color: #d6ffff;
  margin: auto;
  line-height: 2;
  height: 100vh;
  
}


.profile-Name
{
  font-size: 5rem;
  font-family: 'Satisfy', cursive;
  padding-top: 125px;
  margin: 0;
  font-weight: bold;
  color: #017272;

}

.top-para
{
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: normal;
  color: #017272;
}

.top-profile-img
{
margin: 150px auto;
}

.header li
{
  list-style: none;
display: inline-block;
margin-right: 5px;
}



.btn:hover {
  
  background: #535353;
 
}

@keyframes heading {
  to {
    transform: translateY(0);
  }
}

@keyframes text {
  to {
    transform: translateX(0);
  }
}


.header
{
  border: none;
  display: grid;
  grid-template-columns: auto auto auto;
  position: fixed;
  opacity: 0.8;
  z-index: 1;

}

.grid-container {
  display: grid;
  grid-template-columns: 95% auto auto auto auto;
  padding: 30px;
}


.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.icon 
{
 height: 50px;
 width:50px;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background: #229696;
  color: #fff;
  text-decoration: none;
  border: none;
  font-size: 1.1rem;
  transition: all 0.3s ease-in;
  border-radius: 20px;
  
}

.middle-Container
{

  margin: auto;
  line-height: 2;
  width: auto;
  height: 100vh;

  
}



/* .exp-para
{
  float: right; 
  width: 80% ;
} */


.about-word
{
font-weight: 300;
width: 40%;
margin-left: 30%;
line-height: 2;

}


.skills-Container
{
  background-color: #d6ffff;
  margin: auto;
  line-height: 2;
  height: 100vh;

}


.skill-1
{
  text-align: left;

}
.skill-2
{
  text-align: left;

}

.skill-3
{
  text-align: left;

}
.skill-4
{
  text-align: left;

}

.about-me
{
  height: 100vh;
}

.skills
{
  padding-top: 70px;
  color: #1e836c;
  font-weight: bold;
  font-size: 2rem;
}

.exp-img
{
  float: left;
  width: 8.5%;
  border: thin;
  margin-left: 30%;
}

.skill1-ul
{
line-height: 2;
margin-left: 40%;
margin-right: 50%;
background-color: #fff;
border-radius: none;
width: 20%;

}

.computer-img
{
  float: left;
  width: 8.5%;
  /* border-radius: 30%; */
  border: thin;
  margin-left: 30%;
  margin-top: 5px;
}

.skill2-ul
{
line-height: 2;
margin-left: 40%;
margin-right: 50%;
margin-top: 80px;
background-color: #fff;
border-radius: none;
width: 20%;


}
.database-img
{
  float: left;
  width: 8.5%;
  border: thin;
  margin-left: 30%;
  margin-top: 5px;
}

.skill3-ul
{
line-height: 2;
margin-left: 40%;
margin-right: 50%;
margin-top: 80px;
background-color: #fff;
border-radius: none;
width: 20%;


}

.language-img
{
  float: left;
  width: 8.5%;
  border: thin;
  margin-left: 30%;
  margin-top: 5px;
}

.skill4-ul
{
line-height: 2;
margin-left: 40%;
margin-right: 50%;
margin-top: 70px;
background-color: #fff;
border-radius: none;
width: 20%;


}

.bottom-container {
  background-color: #66BFBF;
  padding: 5px 0 5px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.footer-link
{
  font-size: 1.2rem;
  color: #EAF6F6;
  padding: 20px 20px;
}

.main-bg
{
  width: 30%;
  position: relative;
  opacity: 0.8;
}

.footer-link:hover
{
color: #535353;
}

